@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Lez Delete, no?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
@Html.DisplayNameFor(model => model.Contact): @Html.DisplayFor(model => model.Contact)

@using(Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}
@Html.ActionLink("Back to the Salon", "Index")