@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this Client name: @Html.DisplayFor(model => model.Name)</h4>

<h4>Edit this Client type: @Html.DisplayFor(model => model.Type)</h4>

<h4>Edit this Client contact: @Html.DisplayFor(model => model.Contact)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)
    @Html.LabelFor(model => model.Contact)
    @Html.EditorFor(model => model.Contact)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to clients", "Index")</p>