@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a Client</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Contact)
  @Html.TextBoxFor(model => model.Contact)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  
  <br>
  <input type="submit" value="Add a new Client" class="btn"/>
}
<p>@Html.ActionLink("Show all Clients", "Index")</p>