@{
  Layout = "_Layout";
}

@model HairSalon.Models.Salon

<h2>Stylist Details</h2>
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)<h3><br>
<h3>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)<h3><br>

@* We need to display the client type in the salon view *@
@* <h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)<h3><br> *@
@* This is currently doing nothing *@

<p>@Html.ActionLink("Update this Stylist", "Update", new { id = Model.SalonId })</p>
<p>@Html.ActionLink("Delete this Stylist", "Delete", new { id = Model.SalonId })</p>
<p>@Html.ActionLink("Add a Stylist", "Create")</p>
